doctype html
html(lang='en')
    head
        title Mit&Yit
        link(rel='stylesheet' href='/css/main.css')
        link(rel='stylesheet' href='/css/index.css')
        link(rel='stylesheet' href='/css/login.css')
        link(rel='stylesheet' href='/css/profile.css')
        link(rel='stylesheet' href='/css/home.css')
        link(rel='stylesheet' href='/css/navbar.css')
        link(rel='stylesheet' href='/css/review.css')
        link(rel='stylesheet' href='/css/match.css')
        link(rel='stylesheet' href='/css/match_result.css')
        link(rel='stylesheet' href='/css/match_his_req.css')
        link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')



    body
        .content
            block content
        br
    
        footer#main-footer
            p Copyright © 2020 Mit&Yit    